
body {
  background-color:#2d3436;


}

.grid.freezing {
  background-color: cyan;
}

.ulala {
  display: flex;
  height: 100%;
  padding-bottom: 17em;

  &.warm {
    background-color: #6ace4b;
  }
  &.freezing {
    background-color: cyan;
  }
  &.hot {
    background-color: tomato;
  }
}




.container {
  margin-top: 20px;
}

.card {
  &.freezing {
    background: #458ac2;
  }
  &.hot {
    background-color: #e06818;
  }
  &.warm {
    background-color: #72e018;
  }
}

.table {
  &.freezing {
    background: #458ac2;
  }
  &.hot {
    background-color: #e06818;
  }
  &.warm {
    background-color: #72e018;
  }
}