#root {
  background-color:#2d3436;
  height: 100vh;
}

#div-root {
  padding-top: 1rem;
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
 
} 

.theme {

  &.warm {
    background-color: #FBFF87;
  }
  &.freezing {
    background-color: #67c6bb;
  }
  &.hot {
    background-color:#F0CC87;
  }
}


.container {
  margin-top: 20px;
}

.card {
  color: #2d3436;
  &.freezing {
    background: #22a39c;
    
  }
  &.hot {
    background-color: #F09D36;
  }
  &.warm {
    background-color:  #FFF249;
  }
}

.ui.table {
  &.freezing {
    background-color:#22a39c;
    thead th{
      background-color: #2e8e89;
    }
  }
  &.hot {
    background-color: #F09D36;
    thead th{
      background-color: #F38529;
    }
  }
  &.warm {
    background-color: #FFF249;
    thead th{
      background-color: #E8D051;
  }
  }
}


.ui.grid.extra.content {
  color: inherit;
}